{% if page.category == "exhibitions" %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/exhibitions/' | relative_url }}">Exhibitions</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ page.title }}
    </li>
  </ol>
</nav>
{% endif %}

{% if page.category == "commissions" %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/commissions/' | relative_url }}">Commissions</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ page.title }}
    </li>
  </ol>
</nav>
{% endif %}

{% if page.category == "bits" %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/bits/' | relative_url }}">Bits</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ page.title }}
    </li>
  </ol>
</nav>
{% endif %}