---
layout: base
---

<hgroup style="text-align: center">
    <h2>Hello, I'm Targz</h2>
    <p>A pen plotting artist inspired by Op Art</p>
</hgroup>
My work is inspired by the intersection of technology and creativity, currently I use pen plotters to create intricate and visually appealing patterns. I believe that the use of color and pattern can evoke emotions and immerse viewers in the artwork.
<section class="home-grid">
    {% for post in site.posts %} {% if post.category == "portfolio" %}
    <article class="home-item">
        <a href="{{ post.url | relative_url }}">
            <div class="image-container">
                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" />
                <p>
                    {{ post.title }}
                    <span class="subtitle">{{ post.date | date: "%Y" }}{% if post.size %} • {{ post.size }}{% endif %}{% if post.support %} • {{ post.support }}{% endif %}{% if post.ink %} • {{ post.ink }}{% endif %}</span>
                </p>
            </div>
        </a>
    </article>
    {% endif %} {% endfor %}
</section>
