---
layout: base
---

<section class="text-center">
  {{ content }}
</section>

<section class="home-grid">
  {% for post in site.posts %}
    {% if post.category == "portfolio" %}
    <article class="home-item fadeIn">
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
        <h2>{{ post.title }}</h2>
      </a>
      <div class="tags">
        {% for tag in post.tags limit:3 %}
        <span>#{{ tag }}</span>
        {% endfor %}
      </div>
    </article>
    {% endif %}
  {% endfor %}
</section>
